---
import BaseLayout from "../../layouts/base-layout.astro";
import DemoMenu from "../../components/demo/demo-menu.astro";
import HomePage from "../../components/demo/home-page";
import ComponentMeta from "../../components/component-meta.astro";
import { readRegistryItem } from "../../lib/registry";

const item = await readRegistryItem('description');
---

<BaseLayout title={`${item.title ?? item.name} | Component`} description={item.description ?? ''}>
  <DemoMenu currentPath={Astro.url.pathname} />
  <main class="max-w-6xl mx-auto p-6">
    <ComponentMeta item={item} />

    <!-- Hydrate the React demo for the description component -->
    <div>
      <HomePage client:load />
    </div>

    
  </main>
</BaseLayout>
